<header>
    <div class="logo_grapper">
        <div>
            <a href="/"><img class="logo_main" src="/img/logo-mercado-liebre.svg" alt=""></a>
        </div>
        <div class="search-bar">
            <form action="https://mercadolibre.com.ar" method="GET">
                <input class="search" type="text" placeholder="Buscar productos, marcas"><button><i
                        class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="icon">
            <h3><i><i class="fas fa-hand-holding-usd"></i></i> Comprá en cuotas y sin tarjeta de cédito</h3>
        </div>
    </div>
    <div class="container">
        <ul class="site">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tienda Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <br>
        <ul class="login_navbar">
            <li><a href="/register">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>