<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
    
        <div class="logo_grapper">
            <div>
                <a href="/"><img class="logo_main" src="/css/img/logo-mercado-liebre.svg" alt=""></a>
            </div>
            <div class="search-bar">
                <input class="search" type="text" placeholder="Buscar productos, marcas"><button><i
                        class="fas fa-search"></i></button>
            </div>
            <div class="icon">
                <h3><i><i class="fas fa-hand-holding-usd"></i></i> Comprá en cuotas y sin tarjeta de cédito</h3>
            </div>
        </div>
        <div class="container">
            <ul class="site">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tienda Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <br>
            <ul class="login_navbar">
                <li><a href="/register">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

        <div class="wrapper">
            <form action="/" method="GET">
                <div class="in-line-data">
                    <label class="title" for="nombre-apellido"></label>
                    <input class="box" type="text" name="nombre-apellido" id="nombre-apellido" value="" placeholder="Nombre y apellido" required>
                </div>
                <div>
                    <label class="title" for="nombre-usuario"></label>
                    <input class="box" type="email" name="nombre-usuario" id="nombre-usuario" value="" placeholder="Nombre de usuari@" required>
                </div>
                <div class="born-date">
                    <label class="title" for="fecha-nacimiento">Fecha de nacimiento</label>
                    <input class="box" type="date" name="fecha-nacimiento" id="fecha-nacimiento" value="" required>
                </div>
                <div>
                    <label class="title" for="domicilio"></label>
                    <input class="box" type="text" name="domicilio" id="domicilio" value="" placeholder="Domicilio" required>
                </div>

                <div>
                <label class="title" for="perfil">Perfil del usuario</label>
                    <div>
                        <input class="radio" type="radio" name="perfil" value="Comprador">Comprador
                    </div>
                    <div>
                        <input class="radio" type="radio" name="perfil" value="Vender">Vendedor
                    </div>
                </div>
                <div>
                    <label class="title" for="intereses">Intereses</label>
                        <div>
                            <input class="check" type="checkbox" name="intereses" value="electro" > Electro
                        </div>
                        <div>
                            <input class="check" type="checkbox" name="intereses" value="Moda"> Moda
                        </div>
                        <div>
                            <input class="check" type="checkbox" name="intereses" value="Hogar"> Hogar
                        </div>
                        <div>
                            <input class="check" type="checkbox" name="intereses" value="jugueteria"> Juguetería
                        </div>
                        <div>
                            <input class="check" type="checkbox" name="intereses" value="vidasana"> Vida sana
                        </div>
                </div> 
                <div>          
                    <label class="title" for="file">Foto del usuario</label>
                    <input type="file">
                </div>
                <div>
                    <label class="title" for="password"></label>
                    <input class="box" type="password" name="password" placeholder="Contraseña" id="password">
                </div>
                <div> 
                    <label class="title" for="confirm-password"></label>
                    <input class="box" type="password" name="confirm-password" placeholder="Confirmar contraseña" id="confirm-password">
                </div>
                <div class="button-container">
               <button    id="button-enviar" class="button-i" type="submit">Enviar</button>
               <button  id="button-borrar" class="button-i" type="reset">Borrar todo</button>
                </div>

            </form>

            
        </div>
            <footer>
                <article class="footer_article">
                    <i class="fas fa-credit-card"></i>
                    <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                        seguro!</p>
            
                </article>
                <article class="footer_article">
                    <i class="fas fa-gift"></i>
                    <p><strong>Envío gratis desde $ 2.500</strong></p>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article class="footer_article">
                    <i class="fas fa-user-shield"></i>
                    <p><strong>Seguridad, de principio a fin</strong></p>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </article>
            </footer>
            <article class="bottom">
                <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
            </article>
    
</body>
</html>