*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.wrapper{
    background-color: #ebebeb;
}

#register{
    display: flex;
    width: 100%;
    background-color: #ebebeb;
    padding: 6%;
    /* margin-bottom: 2%; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    /* border: solid 3px #1259c3;
    border-radius: 6px; */
    
}

#register input{
    margin: 15px;
    background-color: white;
}
.title{
    font-weight: bold;
    font-size: 16px;
}
.radio, .check{
    font-size: 18px;
}

.box{
    border-radius: 3px;
    padding: 2%;
    font-size: 18px;
    border: 0;
}
.button-i{
    background-color: #1259c3;
    color: white;
    text-decoration: none;
    margin-bottom: 3%;
    width: 40%;
    border-radius: 5px;
    padding: 3%;
    text-align: center;
    border: 0;
    box-shadow: 5px 5px 10px grey;
    transition: 0.6s;
    

}
.button-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
#button-enviar:hover{
    background-color: rgb(25, 181, 75);
    color: white;
}
#button-borrar:hover{
    background-color: red;
    color: black;
    /* transition: 0.5s; */
}

@media(min-width: 361px){
    
    #register{
    display: flex;
    width: 100%;
    background-color: #ebebeb;
    padding: 6%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    }
    
}

@media(min-width: 769px){
    
    .in-line-data{
        display: block;
    }
}
@media(min-width: 1000px){
    #register {
    display: block;
    width: 90%;
    background-color: #ebebeb;
    padding-top: 2%;
    /* flex-wrap: wrap;
    flex-direction: column; */
    /* align-items: center; */
    /* margin: 0px 34%;
    align-content: center;
     */
    }
    .button-i {
    background-color: #1259c3;
    color: white;
    text-decoration: none;
    /* margin-bottom: 3%; */
    width: 41%;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    border: 0;
    box-shadow: 5px 5px 10px grey;
    /* transition: 0.6s; */
}
    .button-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .box {
    border-radius: 3px;
    padding: 1%;
    font-size: 18px;
    border: 0;
    width: 100%;
}
    footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 20%;
    gap: 5px;
    }
}